In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

In [29]:
recession = pd.read_csv("Recession Quarterly.csv", parse_dates=True)

In [30]:
recession.head()

         DATE  USRECQ  UNEMP  PPI  GDP  STOCKS
0  1854-10-01       1    NaN  NaN  NaN     NaN
1  1855-01-01       0    NaN  NaN  NaN     NaN
2  1855-04-01       0    NaN  NaN  NaN     NaN
3  1855-07-01       0    NaN  NaN  NaN     NaN
4  1855-10-01       0    NaN  NaN  NaN     NaN

In [34]:
recession.DATE = pd.to_datetime(recession.DATE)
recession['QUARTER'] = pd.PeriodIndex(recession.DATE, freq='Q')
recession = recession[recession['QUARTER'] > '1946Q4']
recession.head()

          DATE  USRECQ     UNEMP      PPI      GDP   STOCKS QUARTER
369 1947-01-01       0       NaN  4.19580      NaN  2.49729  1947Q1
370 1947-01-04       0       NaN  0.80537  1.15313 -6.35593  1947Q1
371 1947-01-07       0       NaN  2.52996  1.47052  5.62783  1947Q1
372 1947-01-10       0       NaN  4.28571  4.07076 -0.64257  1947Q1
373 1948-01-01       0  3.733333  2.24159  2.30880 -5.49717  1948Q1

In [ ]:
recession.